menu "MESH Configuration"

config MESH_ID
    string "Mesh ID"
        default "123456"
        help
            The maximum length is 6 bytes. Mesh network identification,
            Nodes with the same mesh ID can, communicate with each other.

config LOCAL_GROUP
    string "LOCAL GROUP"
        default "auo"

config LOCAL_NAME
    string "LOCAL NAME"
        default "auo"

config BYPASS_ALL
    bool "Bypass ALL command"

config MESH_CHANNEL
    int "Mesh network channel"
    range 1 14
    default 13
    help
        Mesh network channel.
    
config UART_BAUDRATE
    int "UART BAUD RATE"
    range 0 921600
    default 9600
    help
        choose uart baud rate.

endmenu
